html,body {
    height: 100%;
}

h1,h2,h3,h4 {
    color: rgb(51, 51, 51);
}

body {
    background-color: #afafaf;
    font-family: 'Rubik', sans-serif;
}

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
}
  
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}
  
.navbar a:hover {
    background: #ddd;
    color: black;
}

.container {
    padding: 16px;
    /* margin-top: 30px; */
}

.cover{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    height: 100vh;
}


footer {
    font-size: 0.8rem;
    padding: 1rem 0 0 1rem;
    background-color: #343a40;
    color:#afafaf ;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

a {
    color:#6d6d6d;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.intro-foto {
    margin: 1rem 0.5rem 1rem 1rem;
}

.intro-foto img {
    border-radius: 50%;
}

.box-bio {
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
}

.pic-bio {
    display: block;
    align-items: center;
    margin-bottom: 2rem;
    width: 95%;
}

.box-bio p {
    text-align: justify;
    width: 95%;
}

.intro-quote {
    width: 30%;
    text-align: center;
}

.intro-quote h6 {
    color: #6d6d6d;
}

.minibio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.minibio p {
    padding: 0 1rem;
    margin: -0.5rem 0 0 0;
    width: 60%;
    text-align: justify;
    font-size: 1.2rem;
}

.title-page {
    padding-top: 4rem;
}