/* impostazioni base pagine */

html,body {
    height: 100%;
    margin: 0;
    padding: 0;
}

h1,h2,h3,h4 {
    color: rgb(51, 51, 51);
}

body {
    background-color: #afafaf;
    font-family: 'Rubik', sans-serif;
}

.container {
    /* padding: 16px; */
}

.cover{
    display: grid;
    align-content: center;    
    height: calc( 100vh - 45px );
}

footer {
    font-size: 0.8rem;
    padding: 0.3rem;
    background-color: #343a40;
    color:#afafaf ;
    position: sticky;
    bottom: 0;
    left: 0;
    width: 100%;
    /* margin-top: -45px; */
}

a {
    color:#6d6d6d;
}



/* menù di navigazione */

.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}
  
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}
  
.navbar a:hover {
    background: #ddd;
    color: black;
}

/* Immagini, testi particolari */

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem;
}

.intro-foto {
    margin: 1rem 0.5rem 1rem 1rem;
}

.intro-foto img {
    border-radius: 50%;
}

.flip-card-front img {
    border-radius: 50%;
}

.box-bio {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.pic-bio {
    margin-bottom: 2rem;
}

.box-bio p {
    text-align: justify;
    /* width: 95%; */
}

.text-bio {
    display: inline-block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 1.1rem;
    font-weight: bold;
    text-align: center;
}

.text-bio::before {
    content: "";
    display: block;
    border-bottom: 4px solid #8a8a8a;
    border-radius: 10px;
    margin-bottom: 0.5rem;
    margin-top: 1rem;


}
.text-bio::after{
    content: "";
    display: block;
    border-bottom: 4px solid #8a8a8a;
    border-radius: 10px;
    margin-top: 0.5rem;
    margin-bottom: 2rem;
}

.cit-bio::after {
    margin-bottom: 0.1rem;

}

.cit-name {
    display: inline-block;
    text-align: right;
    padding-right: 4rem;
    color: rgb(109, 109, 109);
}

.cap-bio::after {
    content: "";
    display: block;
    border-bottom: 4px solid #6b6b6b;
    border-radius: 10px;
    width: 4rem;
}

.intro-quote {
    width: 30%;
    text-align: center;
}

.intro-quote h6 {
    color: #6d6d6d;
}

.minibio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.minibio p {
    padding: 0 1rem;
    margin: -0.5rem 0 0 0;
    width: 60%;
    text-align: justify;
    font-size: 1.2rem;
}

.title-page {
    padding-top: 4rem;
}

.galleria_box {
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
}

.img_preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.crediti {
    display: none;
}


/* Hoverlay gallery menu */

.container_card {
    position: relative;
    width:100%;
    height:calc(100vh - 45px);
}
  
.image {
    display: block;
    width: 100%;
    height: auto;
}

.fit_cover {
    float:left;
    width:100%;
    height:100%;
    object-fit:cover;
}
  
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #6e6e6e71;
}
  
.container_card:hover .overlay {
    opacity: 1;
}
  
.text {
    color: rgb(151, 151, 151);
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

a:hover {
    text-decoration: none;
    color: rgb(51, 51, 51);
}

/* Hoverlay pic bio */

.container_bio {
    position: relative;
    text-align: center;
    color: white;
}
  
.bottom-left {
    position: absolute;
    bottom: 26px;
    left: 8px;
}

/* flipcard */

.flip-card {
    background-color: transparent;
    width: 260px;
    height: 260px;
    perspective: 1000px;
    margin: 0 0.1rem 0 0.1rem;
    border-radius: 50%;
    
}
  
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border-radius: 50%;
}
  
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
  
.flip-card-front {
    background-color: #bbb;
    color: black;
    border-radius: 50%;
}
  
.flip-card-back {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #8888889f;
    color: rgb(211, 211, 211);
    transform: rotateY(180deg);
    border-radius: 50%;
}

.card__image {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 0;
}

.card__image img {
    width: 100%;
    display: block;
}

.card__image .card_play {
    position: absolute;
    font-size: 10rem;
    color: rgba(0, 0, 0, 0.26)   
}

  /* gallery button */

.button:link, .button:visited {
    color: rgb(185, 185, 185);
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
  }
  
.button:hover, .button:active {
    color: rgb(44, 44, 44);
}

.lightbox_box {
    display: flex;
    flex-direction:column;
}
.lightbox_text, .title_text {
    display: flex;
    justify-content: center;
    margin-top: 0.5rem;
}

.lightbox_img, .video_box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cropped1 {
    width: 250px; /* width of container */
    height: 250px; /* height of container */
    object-fit: cover;
}

.size_video {
    width: 50%;
    height: 50%;
    box-sizing: border-box;
    border: 0.2rem solid #afafaf;
}

.video_gallery {
    padding-bottom: 4rem;
}

.gallery_switch {
    display: flex;
    justify-content: space-evenly;
}

.not-active {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: rgb(228, 228, 228);
}

.active {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
}



@media only screen and (min-device-width: 320px) and (max-device-width: 480px){

    .cropped1 {
        width: 140px;
        height: 140px;
    }

    .container_index {
        /* margin-top: 10rem; */
    }

    .minibio {
        justify-content: center;
        align-items: center;
        padding-bottom: 8rem;
    }
    .minibio p {
        padding: 0;
        margin: 0;
        width: 90%;
        text-align: justify;
        font-size: 0.9rem;
    }

    .intro-quote {
        width: 100%;
        text-align: center;
    }
    
    .intro-quote h6 {
        color: #6d6d6d;
        font-size: 1rem;
    }

    footer {
        display: none;
    }

    .crediti {
        display: inherit;
    }

    .container_card {
        height: 100vh;
    }

    .size_video {
        width: 100%;
        height: 100%;
    }
}

@media only screen and (min-device-width: 540px) and (max-device-width: 720px)  {
    /* .cropped1 {
        width: 140px;
        height: 140px;
    } */

    .minibio {
        justify-content: center;
        align-items: center;
        padding-bottom: 8rem;
    }
    .minibio p {
        padding: 0;
        margin: 0;
        width: 90%;
        text-align: justify;
        font-size: 0.9rem;
    }

    .intro-quote {
        width: 100%;
        text-align: center;
    }
    
    .intro-quote h6 {
        color: #6d6d6d;
        font-size: 1rem;
    }

    .container_card {
        height: 100vh;
    }

    .size_video {
        width: 100%;
        height: 100%;
    }
}




@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {

    .cropped1 {
        width: 300px;
        height: 300px;
    }
    
    .lightbox_img {
        display: grid;
        grid-template-columns: auto auto;
    }

    .container_card {
        height: 100vh;
    }
    .size_video {
        width: 90%;
        height: 90%;
    }

    .video_gallery {
        padding-bottom: 6rem;
    }

}